<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kobrasoft.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-yt1-001.ftp.azurewebsites.windows.net</MSDeployServiceURL>
    <DeployIisAppPath>kobrasoft</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>kobrasoft</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=kobrasoft.database.windows.net;Initial Catalog=kobrasoft;User ID=kobrasoft;Password=Aghyu**Cf;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KobraSoftware.Models.UsersContext, KobraSoftware" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KobraEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=kobrasoft.database.windows.net;Initial Catalog=kobrasoft;User ID=kobrasoft;Password=Aghyu**Cf;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataEF.KobraEntities, DataEF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_Enable45Check>false</_Enable45Check>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=kobrasoft.database.windows.net;Initial Catalog=kobrasoft;User ID=kobrasoft;Password=Aghyu**Cf;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KobraEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/kobraEF.csdl|res://*/kobraEF.ssdl|res://*/kobraEF.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kobrasoft.database.windows.net;Initial Catalog=kobrasoft;User ID=kobrasoft;Password=Aghyu**Cf;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>